<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:simple="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd">

    <!--JAX-WS服务器写法-->
    <!--<jaxws:server id="helloService" address="/soap/hello">-->
        <!--<jaxws:serviceBean>-->
            <!--<ref bean="helloServiceImpl"/>-->
        <!--</jaxws:serviceBean>-->
    <!--</jaxws:server>-->

    <!--&lt;!&ndash;JAX-WS服务器简单写法&ndash;&gt;-->
    <!--<jaxws:endpoint id="helloService" implementor="#helloServiceImpl"-->
                    <!--address="/soap/hello"/>-->

    <!--simple服务器写法-->
    <!--<simple:server id="helloService" serviceClass="#helloService" address="/soap/hello">-->
        <!--<simple:serviceBean>-->
            <!--<ref bean="#helloServiceImpl"/>-->
        <!--</simple:serviceBean>-->
    <!--</simple:server>-->


    <!--&lt;!&ndash;客户端生成工厂&ndash;&gt;-->
    <!--<bean id="factoryBean" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">-->
        <!--<property name="serviceClass" value="demo.cxf.HelloService"/>-->
        <!--<property name="address" value="http://localhost:8080/ws/soap/hello"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;JAX客户端&ndash;&gt;-->
    <!--<bean id="helloService" factory-bean="factoryBean" factory-method="create"/>-->

    <!--JAX客户端创建简写方法-->
    <jaxws:client id="helloService" serviceClass="demo.cxf.HelloService"
                  address="http://localhost:8080/ws/soap/hello"/>

</beans>